/* =========================================================
   RESET
========================================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Segoe UI, Roboto, Arial, sans-serif;
    background:#0f172a;
    color:#f8fafc;
    min-height:100vh;
}

/* =========================================================
   HEADER
========================================================= */

.helpdesk-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

.title-helpdesk {
    margin: 0;
    font-family: "Inter", "Segoe UI", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #2563eb;
    letter-spacing: -1px;
    position: relative;
}

.title-helpdesk::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 14px auto 0;
    background: #2563eb;
    border-radius: 999px;
}

.subtitle-helpdesk {
    margin-top: 18px;
    font-family: "Inter", "Segoe UI", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: #a8bbe0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.topbar{
    background:#111827;
    border-bottom:1px solid #334155;
    padding:20px;
    top:0;
    z-index:999;
}

.topbar h1{
    text-align:center;
    margin-bottom:15px;
    font-size:1.6rem;
}

.search-area{
    max-width:900px;
    margin:0 auto;
}



.search-area input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #374151;
    background:#1f2937;
    color:white;
    outline:none;
}

.search-area input:focus{
    border-color:#2563eb;
}

/* =========================================================
   MAIN
========================================================= */

main{
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

/* =========================================================
   COLUMN
========================================================= */

.column{
    background:#1e293b;
    border:1px solid #334155;
    border-radius:18px;
    padding:20px;
}

.column.hidden-column{
    display:none;
}

/* =========================================================
   HEADER COLUMN
========================================================= */

.column-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
    cursor:pointer;
}

.column-header h2{
    text-align:center;
    font-size:1.4rem;
    margin-bottom:8px;
}

.counter{
    background:#2563eb;
    padding:6px 12px;
    border-radius:999px;
    font-size:12px;
    font-weight:700;
}

/* =========================================================
   GRID
========================================================= */

.cards-grid{
    display:grid;
    grid-template-columns:repeat(4, 320px);
    justify-content:center;
    gap: 32px;
}

/* =========================================================
   ADD BUTTON
========================================================= */

.add-card-btn{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;

    border:none;
    border-radius:16px;
    
    cursor:pointer;

    font-size:40px;
    font-weight:bold;

    background:#16a34a;
    color:white;

    transition:.2s;
}

.add-card-btn:hover{
    transform:scale(1.03);
    background:#15803d;
}

/* =========================================================
   CARD
========================================================= */

.card{
    width:320px;
    min-height:350px;

    background:#111827;

    border:1px solid #374151;
    border-radius:16px;

    padding:12px;

    transition:.2s;
}

.card:hover{
    transform:translateY(-3px);
}

.card.dragging{
    opacity:.5;
}

.card.hidden-search{
    display:none;
}

/* =========================================================
   CARD TOP
========================================================= */

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.card-actions{
    display:flex;
    align-items:center;
    gap:8px;
}

.drag-icon{
    color:#94a3b8;
    cursor:grab;
}

.timer{
    background:#16a34a;
    padding:5px 8px;
    border-radius:999px;
    font-size:11px;
    font-weight:700;
}

.delete-btn{
    width:28px;
    height:28px;

    border:none;
    border-radius:50%;

    background:#ef4444;
    color:white;

    cursor:pointer;
}

.delete-btn:hover{
    background:#dc2626;
}

/* =========================================================
   FIELDS
========================================================= */

.field{
    display:flex;
    flex-direction:column;
    margin-bottom:8px;
}

.field label{
    font-size:11px;
    font-weight:700;
    margin-bottom:4px;
}

.field input,
.field textarea{

    width:100%;

    background:#1f2937;
    color:white;

    border:1px solid #374151;
    border-radius:8px;

    padding:7px;

    font-size:12px;
}

.field input{
    height:34px;
}

.field textarea{
    resize:none;
    min-height:55px;
}

.field input:focus,
.field textarea:focus{
    outline:none;
    border-color:#2563eb;
}

/* =========================================================
   FOOTER CARD
========================================================= */

.card-footer{
    margin-top:10px;
    border-top:1px solid #374151;
    padding-top:8px;
}

.created-at{
    color:#94a3b8;
    font-size:10px;
}

/* =========================================================
   FOOTER
========================================================= */

footer{
    margin-top:25px;

    background:#111827;
    border-top:1px solid #334155;

    padding:15px;

    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

/* =========================================================
   COLLAPSE
========================================================= */

.column.collapsed .cards-grid{
    display:none;
}

/* =========================================================
   SCROLLBAR
========================================================= */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#475569;
    border-radius:999px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

/* =========================================================
   RESPONSIVO
========================================================= */

@media(max-width:1200px){

    .cards-grid{
        grid-template-columns:repeat(3, 260px);
    }

}

@media(max-width:900px){

    .cards-grid{
        grid-template-columns:repeat(2, 260px);
    }

}

@media(max-width:600px){

    .cards-grid{
        grid-template-columns:1fr;
        justify-items:center;
    }

    .card,
    .add-card-btn{
        width:100%;
        max-width:320px;
    }

    main{
        padding:12px;
    }

}